body {
  padding: 10px;
  /* font-family: 'Roboto', sans-serif; */
}

.text-capitalize {
  text-transform: capitalize !important;
}



/* bg */
.custom-bg-base {
  background-color: #111111 !important;
}

.custom-bg-secondary {
  background-color: #838181 !important;
}



/* navbar */
.custom-navlink-principal {
  color: #ffffff !important; /* tu color personalizado */
  text-decoration: none;     /* opcional: saca el subrayado */
}

.custom-navlink-secondary {
  color: #ffffff !important; /* tu color personalizado */
  text-decoration: none;     /* opcional: saca el subrayado */
}

.custom-navlink-principal:hover,
.custom-navlink-principal.active,
.custom-navlink-secondary:hover,
.custom-navlink-secondary.active {
  color: #08f5fb !important;
}

/* table */
.custom-table-head th {
  background-color: #111111 !important;
  /* color: #08f5fb !important; */
  color: #ffffff !important;
  z-index: 5;
}

.custom-table-select td {
  background-color: #838181 !important;
  color: #08f5fb !important;
  z-index: 5;
}



/* buttons */
.custom-btn-success {
  /* background-color: transparent; */
  border: 1px solid #111111; 
  background-color: #111111;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.custom-btn-outline-success {
  border: 1px solid #08f5fb; 
  background-color: transparent;
  /* color: #08f5fb; */
  color: #111111;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.custom-btn-success:hover,
.custom-btn-outline-success:hover {
  border: 1px solid #08f5fb;
  background-color: #08f5fb;
  color: #111111;
}

.custom-btn-outline-danger {
  background-color: transparent;
  border: 1px solid #ff3333; 
  /* background-color: #111111; */
  color: #ff3333;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.custom-btn-outline-danger:hover {
  border: 1px solid #ff3333;
  background-color: #ff3333;
  color: #ffffff;
}

.custom-btn-outline-danger-delete {
  border: 1px solid #ff3333;
  border-radius: 5px;
  background-image: url('/assets/delete-red.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 45%;
  width: 40px;
  height: 40px;
}

.custom-btn-outline-danger-delete-sm {
  border: 1px solid #ff3333;
  border-radius: 5px;
  background-image: url('/assets/delete-red.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
  background-color: transparent;
  background-size: 45%;
  width: 30px;
  height: 30px;
}

.custom-btn-outline-danger-delete:hover,
.custom-btn-outline-danger-delete-sm:hover {
  background-image: url('/assets/delete-white.png');
  background-color: #ff3333;
}

.custom-btn-outline-success-print {
  border: 1px solid #08f5fb;
  border-radius: 5px;
  /* background-image: url('/assets/printer-blue.png'); */
  background-image: url('/assets/printer-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 60%;
  width: 40px;
  height: 40px;
}

.custom-btn-outline-success-add {
  border: 1px solid #08f5fb;
  border-radius: 5px;
  /* background-image: url('/assets/printer-blue.png'); */
  background-image: url('/assets/add-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 60%;
  width: 40px;
  height: 40px;
}

.custom-btn-outline-success-print:hover,
.custom-btn-outline-success-add:hover {
  /* background-image: url('/assets/printer-black.png'); */
  background-color: #08f5fb;
}

.custom-btn-outline-success-edit-sm {
  border: 1px solid #08f5fb;
  border-radius: 5px;
  background-image: url('/assets/edit-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 60%;
  width: 30px;
  height: 30px;
}

.custom-btn-outline-success-edit-sm:hover {
  background-image: url('/assets/edit-black.png');
  background-color: #08f5fb;
}

.custom-btn-outline-danger-logout {
  border: 1px solid #111111;
  border-radius: 5px;
  background-image: url('/assets/logout-red.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 45%;
  width: 40px;
  height: 40px;
}

.custom-btn-outline-white-hamburger {
  border: 0px solid #111111;
  border-radius: 5px;
  background-image: url('/assets/hamburger-white.png'); /* o .png */
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 80%;
  width: 40px;
  height: 40px;
}

.custom-btn-outline-black-hamburger {
  border: 0px solid #000000;
  border-radius: 5px;
  background-image: url('/assets/hamburger-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 80%;
  width: 40px;
  height: 40px;
}

/* form */
.custom-invalid-feedback {
  color: #dc3545; /* Rojo Bootstrap */
  font-size: 0.875em; /* Tamaño similar al de Bootstrap */
  margin-top: 0.25rem;
}



/* search with tag */
.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}

.tag {
  background-color: #838181;
  color: #08f5fb;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.list-group-item.active {
  background-color: #838181 !important; /* verde Bootstrap */
  color: #08f5fb;
}

.remove-tag {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}


/* message */
.message-header-success {
  background-color: #111111;
  color: #08f5fb;
}

.message-body-success {
  background-color: #f8f9fa;
  color: #111111;
}

.message-header-error {
  background-color: #838181;
  color: #f8f9fa;
}

.message-body-error {
  background-color: #f8f9fa;
  color: #dc3545;
}

.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}